#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* General container styling for content pages */
.page-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  flex-grow: 1;
  /* Allows content to take available space */
  width: 100%;
  /* Ensure it takes full width within its parent */
  box-sizing: border-box;
  /* Include padding in width calculation */
}

/* Style for donation list items */
.donation-list-item {
  @apply bg-white p-4 rounded-lg shadow-md mb-4 flex flex-col sm:flex-row items-center sm:items-start;
}

.donation-list-item img {
  @apply w-24 h-24 object-cover rounded-md mr-4 mb-4 sm:mb-0;
}

.donation-list-item strong {
  @apply text-lg font-semibold text-gray-800;
}

.donation-list-item button {
  @apply mt-2 sm:mt-0 sm:ml-auto px-4 py-2 bg-green-500 text-white rounded-md hover:bg-green-600 transition-colors duration-200;
}